.name {
  background-color: blue;
  font-size: 15px;
  height: 50px;
  width: 50px;
  float: left;
  margin-right: 50px;
  border: 2px;
  padding: 20px;
  margin-bottom: 50px;
}
h1 {
  font-size: 20px;
  padding: 21px 10px;
  font-weight: 250;
  background-color: white;
}
h2 {
  border-bottom: 3px solid black;
  font-size: 31px;
  font-weight: bold;
  padding-left: 9px;
}

img {
  width: 250px;
  height: 250px;
  float: left;
  margin: 15px;
}

a {
  margin-right: 25px;
  color: silver;
}

header {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 61px;
  margin-bottom: 36px;
}

header li {
  float: left;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.paragraph {
  background-color: white;
  width: 600px;
  margin: 0 auto 0 auto;
  border: solid;
}

.pic {
  width: 10px;
  height: 10px;
  float: left;
  border-color: black;
  border-width: 10px;
}

footer {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 61px;
  margin-top: 40px;
  margin-bottom: 0px;
  text-align: center;
}

body {
  background-color: silver;
}

@media screen and (max-width: 768px) {
  body {
    background-color: #333;
  }
}

@media screen and (max-width: 640px) {
  body {
    background-color: #333;
  }
}


