.name {
  background-color: blue;
  font-size: 15px;
  height: 50px;
  width: 50px;
  float: left;
  margin-right: 50px;
  border: 2px;
  padding: 20px;
  margin-bottom: 50px;
}
h1 {
  font-size: 20px;
  padding: 4px 10px;
  font-weight: 250;
  background-color: blue;
  text-align: center;
  border-bottom: solid, silver, 3px;
}

.col-sm-4 {
  text-align: center;
  border: solid, black;
  text-emphasis: solid;
  align-content: center;
  position: relative;
}

.col-sm-12 {
  text-align: center;
}

h2 {
  border-bottom: 3px solid black;
  font-size: 31px;
  font-weight: bold;
  padding-left: 9px;
}

img {
  width: 250px;
  height: 250px;
  margin: 40px;
  float: left;
}

a {
  border: black;
}

header {
  background-color: blue;
  display: flex;
  text-align: center;
  justify-content: space-between;
  height: 61px;
  margin-bottom: 36px;
  text-decoration-color: aliceblue;
}

/* header li {
  float: left;
} */

.group:after {
  content: "";
  display: table;
  clear: both;
}

.paragraph {
  background-color: silver;
  width: 600px;
  margin: 0 auto 0 auto;
  border: solid;
}

.pic {
  width: 10px;
  height: 10px;
  float: left;
  border-color: black;
  border-width: 10px;
}

footer {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 61px;
  margin-top: 480px;
  margin-bottom: 0px;
  text-align: center;
}

body {
  background-color: silver;
  padding: 0px;
}
.caption-attributes {
  width: 53%;
  position: absolute;
  background-color: blue;
  margin-top: 274px;
  margin-left: 72px;
}
.prodiv {
  margin: auto;
  text-align: center;
  width: 50%;
}
h8 {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  body {
    background-color: #333;
  }
}

@media screen and (max-width: 640px) {
  body {
    background-color: #333;
  }
}
